body {
    color: cadetblue;
    background-color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Unoversal Selector */
* {
    margin: 1%;
}

/* Class Selector */
.first {
    color: black;
}

.large {
    font-size: 30px;
}

/* ID Selector */
#eklist {
    background-color: brown;
}

a[href="https://upflairs.com"] {
    color: blue;
    text-decoration: none;
}

input[type="text"] {
    background-color: blue;
    color: white;
}


/* Pseudo Selector */
.first:hover {
    color: white;
}