.left {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    animation-name: leftWala;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.right {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    animation-name: rightWala;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes leftWala {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(200px, 200px);
    }

    100% {
        transform: translate(400px 0px);
    }
}

@keyframes rightWala {
    0% {
        transform: translate(300px, 0px);
    }

    50% {
        transform: translate(100px, 200px);
    }

    100% {
        transform: translate(-100px 0px);
    }
}
